@model OnlineStore.Models.Domain.Review
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Header{
    <h2>@Model.Name</h2>

}
<p>Id: @Model.Id</p>

<a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
    @product.Name
</a>